{% extends 'shop/base_shop.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Cities
{% endblock %}


{% block content %}
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 100%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>

	<table>
  		<tr>
		 
   		 <th style="width:10%">Имя</th>
  		 </tr>
	
	
		
	{% for city in cities %}
		<tr>
		<td><a href="{{city.get_absolute_url}}">{{city.name}}</a></td>
    		 
		</tr>
	{% endfor %}
	
		
	</table>
<a class="btn btn-primary" href="" role="button">Добавить город</a>

	
{% endblock %} 

<!--{flat.get_absolute_url}-->
